.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    @include mobile {
        width: 90%;
        margin-left: 20px;
        margin-bottom: 100px;
    }
    &__img {
        position: absolute;
        object-fit: cover;
        border-radius: 25px;
        width: 100%;
        height: 200px;
        filter : brightness(60%);
        @include mobile {
            width: 90%;
        }
    }   

    &__txt {
        position: relative;
        z-index: 2;
        color: white;
        font-size: 40px;
        font-weight: 500;
    }
}
