.aboutBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 31px;
    margin-top: 30px;
    margin-bottom: 30px;
    &__small {
        @include mobile{
            margin: 0;
        }
    }
}
.collapsible {
    max-width: 1023px;
    width: 70vw;
    margin: 0 auto; 
    @include mobile {
        width: 100%;
    }
    &__small {
        width: 512px;
        height: auto;
        margin-bottom: 10px;
        @include mobile{
            width: 100%;
            height: auto;
        }
        @include tablet {
            width: 98vw;
            height: auto;
        }
    }
    &__content {
        padding: 10px 15px 10px 15px;
        background-color: #F7F7F7;
        border-radius: 5px;
        font-size: 24px;
        &__small {
            padding: 10px 15px 10px 15px;
            background-color: #F7F7F7;
            border-radius: 5px;
            font-size: 18px;
            margin-bottom: 10px;
        }
    }
    &__header {
        font-size: 24px;
        color: white;
        background-color: #FF6060;
        border-radius: 5px;
        padding: 7px 0px 7px 18px;
        cursor: pointer;
        &__small {
            height: 52px;
            font-size: 18px;
            color: white;
            background-color: #FF6060;
            border-radius: 5px;
            padding: 15px 0px 7px 18px;
            cursor: pointer;
        }
    }
    &__down {
        float: right;
        padding: 8px 25px 0px 0px;
        &__small {
            float: right;
            padding: 5px 25px 0px 0px;
        }
    }
    &__up {
        float: right;
        padding: 8px 25px 0px 0px;
        transform: rotate(180deg);
        transform-origin: 12px;
        margin-top: 8px;
        &__small {
            float: right;
            padding: 8px 25px 0px 0px;
            transform: rotate(180deg);
            transform-origin: 12px;
            margin-top: 5px;
        }
    }
}

.gap {
    gap: 45px;
    @include mobile {
       margin: 20px 0px 20px 0px;
    }
}


