.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
    padding-top: 30px;
    margin-left: 65px;
    margin-right: 65px;
    @include mobile {
        margin: 0;
        margin-bottom: 50px;
        .logo img {
            width: 30vw;
            height: 47px;
        }
    }
}
