.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 63px;
    padding-top: 30px;
    @include mobile {
        width: 45%;
        margin-bottom: 16px;
        .logo img {
            width: 30vw;
            height: 47px;
        }
    }
}
