.header {
    display: flex;
    justify-content: space-between;
    margin-right: 65px;
    margin-bottom: 40px;
    padding-top: 30px;
    width: 100%;
    @include mobile {
        margin: 0;
        margin-bottom: 20px;
    }
    @include tablet {
        width: 97%;
        margin-left: 10px;
    }
}

.logo img {
    @include mobile {
        width: 90%;
        margin-top: 10px;
    }
}
