
.nav {
    display: flex;
    width: 280px;
    @include mobile {
      width: 320px;
    }
    a {
        font-size: 24px;
        line-height: 34px;
        @include mobile {
          text-transform: uppercase;
          font-size: 12px;
        }
    }
    ul {
      display: flex;
      justify-content: space-between;
      width: 100%;
      @include mobile {
        width: 180px;
        margin-left: 50px;
        margin-top: 10px;
      }
    }

    li {
        color:  $color-1;
        transition: 0.5s;
        cursor: pointer;

        &:hover {
            color: $color-2;
        }
        @include mobile {
          padding-right: 10px;
        }
    }
    .nav-active {
        position: relative;
  
        &::after {
          content: "";
          height: 4px;
          width: 0;
          background: $color-1;
          position: absolute;
          border-radius: 10px;
          bottom: 0px;
          left: 50%;
          transform: translateX(-50%);
          -webkit-animation: anim 0.3s ease forwards;
          animation: anim 0.6s ease forwards;
  
          @-webkit-keyframes anim {
            to {
              width: 100%;
            }
          }
          @keyframes anim {
            to {
              width: 100%;
            }
          }
        }
    }
    @include mobile {
      &__homeBtn {
        width: 54px;
      }
    }
}