.nav {
    &__ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        align-content: center;
        gap: 50px;
        @include mobile {
          padding-top: 4px;
            gap: 0;
        }
        a {
            padding-bottom: 5px;
            @include mobile {
                width: 90px;
            }
        }
        li {
            font-size: 24px;
            padding-top: 20px;
            @include mobile {
                font-size: 14px;
                padding-top: 5px;
                text-align: center;
                text-transform: uppercase;
            }
        }
    }
    &__homeBtn {
      @include mobile {
        padding-right: 10px;
      }
    }  
    &__aboutBtn {
      @include mobile {
        padding-right: 10px;
        width: 100px;
      }
    }
}

.nav-active {
  position: relative;

  &::after {
    content: "";
    height: 4px;
    width: 0;
    background: $color-1;
    position: absolute;
    border-radius: 10px;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-animation: anim 0.3s ease forwards;
    animation: anim 0.6s ease forwards;

    @-webkit-keyframes anim {
      to {
        width: 100%;
      }
    }
    @keyframes anim {
      to {
        width: 100%;
      }
    }
  }
}