.logementWrapper {
    display: flex;
    justify-content: space-between;
    @include mobile {
        flex-direction: column;
    }
}
.gap {
    @include tablet {
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }
}
.globalBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    @include mobile {
        flex-direction: column;
    }
    @include tablet {
        flex-direction: column;
    }
}

.logementBlock{
    display: flex;
    flex-wrap: wrap;

}

.logementTitle {
    height: 110px;
    @include tablet {
        margin-left: 10px;
    }
}

.item__title {
    color: $color-1;
    position: relative;
    font-size: 36px;
    font-weight: 500;
    height: 15%;
    cursor: default;
    @include mobile {
        font-size: 20px;
    }
    @include tablet {
        font-size: 20px;
    }
}

.item__city {
    color: $color-1;
    position: relative;
    cursor: default;
    @include mobile {
        margin-top: 33px;
    }
    @include tablet {
        margin-top: 33px;
    }    
}

.host {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 20px;
    @include mobile {
        align-items: flex-start;
    }
    @include tablet {
        align-items: flex-start;
        margin: 0;
        margin-right: 10px;
    } 
    &__picture {
        width: 64px;
        height: 64px;
        border-radius: 30px;
    }
    &__name {
        font-size: 18px;
        margin-right: 10px;
        cursor: default;
        @include mobile {
           text-align: end;
           margin-top: 10px;
        }
        @include tablet {
            text-align: end;
            margin-top: 10px;
            padding-top: 10px;
        } 
    }
}

.starsContainer {
    display: flex;
    margin-right: 0;
    width: 250px;
    padding-left: 50px;
    @include tablet {
        padding-left: 5px;
        padding-top: 10px;
    }
    @include mobile {
        padding: 0;
        margin-top: 40px;
     }
}

.star {
    margin: 5px;
    @include mobile {
        width: 20px;
        height: 20px;
    }
}

.marginTop {
    margin-top: 10px;
}

.responsiveHost {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @include mobile {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        height: 100px;
        margin-bottom: -30px;
        margin-top: -20px;
    }
    @include tablet {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        height: 100px;
        margin-bottom: -30px;
    }
}



