.banner {
    display: flex;
    justify-content: center;
    align-content: center;
    &__txt {
        position: relative;
        color: white;
        z-index: 1;
        font-size: 48px;
        line-height: 68px;
        bottom: 190px;
        left: 260px;
    }

    &__img {
        position: relative;
        border-radius: 25px;
        width: 100%;
        filter : brightness(60%)
    }   
}